{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
</head>




<body>
    <div class="main-container">
        <form action="{% url 'account:register' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-element">
                {{form.username}}
            </div>
            <div class="error-field">
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                {{error}}<br>
                {% endfor %}
                {% endif %}
            </div>

            <div class="error-field">
                {% if form.nickname.errors %}
                {% for error in form.nickname.errors %}
                {{error}}<br>
                {% endfor %}
                {% endif %}
            </div>
            <div class="error-field"></div>
            <div class="form-element">
                {{form.password1}}
            </div>
            <div class="error-field"></div>
            <div class="form-element">
                {{form.password2}}
            </div>
            <div class="error-field" id="password2-error-field">
                {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                {{error}}<br>
                {% endfor %}
                {% endif %}
            </div>
            <div class="error-field"></div>
            
            <br>
            성별입력
            
            <div class="form-element">
                {{form.sex}}
            </div>

            <br>
            나이 입력
            <div class="position_field">
                {{form.age}}

            </div>
            <input type="submit" class="btn-signup" value='register'>
            {{form.errors}}
        </form>
    </div>
</body>

</html>