
{% extends 'base.html' %}
{% load static %}

{% block content %}

파이어족


<!--
author = models.ForeignKey(
settings.AUTH_USER_MODEL, on_delete=models.CASCADE)
date = models.DateTimeField(auto_now_add=True)
text = models.CharField(max_length=150)
-->

<div class="talk_page" style="text-align: center;">
    {% for talk in talks.all %}

        {% if talk.author == user %} True
        {% else %} false
        {% endif %}
    {% endfor %}

</div>


<hr>

<!--
<div class="writing page" style="text-align: center;">
    <form method="POST" class="idea-form" action="{% url 'talk_comment' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="save btn btn-default"></input>
        <br><br><br>
    </form>
</div>
-->
{% endblock %}