
<body>
    debate 제목:
    {{debate.title}}<br>
    debate 본문:
    {{debate.text}}
    

    <div class="comment">
        <form action="{%url 'community:comment_to_debate' debate.id %}" method="POST">
            {% csrf_token %}
            <textarea name="debate_text"></textarea>
            <button>추가</button>
        </form>
        <div class="allComments">
            {% for comment in debate_comments %}
            {{comment.text}}
            {{comment.author}}
            {{comment.date}}
            {% endfor %}
        </div>
    </div>
    
</body>