<body>
    <section style="margin: 80px 30px 0px 30px;">
        {{debate.text}}


        

        <div class="comment">
            <form action="{%url 'community:comment_to_debate' debate.id %}" method="POST">
                {% csrf_token %}
                <div class="bill_comment">
                    <textarea name="bill_comment_text"></textarea>
                    <textarea name="bill_comment_title"></textarea>
                    <button>추가</button>
                </div>
            </form>
            <div class="allComments">
                {% for comment in debate_comments %}
                {{comment.text}}
                {{comment.author}}
                {{comment.date}}
                {{comment.like}}
                {% endfor %}
            </div>
        </div>
    </section>
</body>
